:root {
	font-size: max(1vw, 1vh);
}
body {
	margin: 0;	/*full screen*/

	overflow: hidden;	/*hide scrollbar*/
}
#container {
	height: 100vh;	/*temp*/
	
	aspect-ratio: 16/9;	/*tv aspect ratio*/
}
#container img {
	width: 100%;	/*only way to make aspect ratio work*/
	height: 100%;
}
.marker {
	position: absolute;	/*positioned in javascript*/

	background-color: yellow;
	
	width: 3rem;	/*constant and based on root element*/
	height: 3rem;

	border-radius: 50%;	/*make span circlular*/
}