:root {
	font-size: 1vmax;
}
body {
	margin: 0;	/*full screen*/

	overflow: hidden;	/*hide scrollbar*/
}
#container {
	width: 100vw;	/*temp*/
	height: 100vh;
	
	aspect-ratio: 16/9;	/*tv aspect ratio*/
}
#container img {
	width: 100%;	/*only way to make aspect ratio work*/
	height: 100%;
}
.marker {
	position: absolute;	/*positioned in javascript*/

	border-radius: 50%;	/*make span circlular*/
	transform: translate(-50%, -50%);	/*anchor point at the center*/

	&.point {
		visibility: hidden;	/*for production*/

		background-color: yellow;
		
		width: 3rem;	/*constant and based on root element*/
		height: 3rem;
	}
	&.connection {
		background-color: black;
		
		width: 1.5rem;	/*constant and based on root element*/
		height: 1.5rem;
	}
}
#canvas {
	position: absolute;
	top: 0;
	left: 0;

	z-index: 1;	/*on top of points*/
}